.section {
  height: 90vh;
}

.animatedLogo {
  display: grid !important;
  place-items: center;
  perspective: 600px;
  perspective-origin: 50% calc(50% - 150px);
  cursor: default;
  height: 70vh;
}

.mainLogoCont {
  transform-style: preserve-3d;
}

.mainLogo {
  position: relative;
  transform-style: preserve-3d;
  animation: move 24s linear infinite reverse;
}

.logoChar {
  position: absolute;
  font-size: 120px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateY(calc(var(--charIndex) * 14.3deg))
    translateZ(250px);
  pointer-events: none;
}

.aboutContainer {
  overflow: hidden;
}

.aboutUs {
  margin-top: 300px;
  margin-bottom: 50px;
}

.aboutUsText {
  font-size: 20px;
}

.animatedLine {
  font-size: 46px;
  white-space: nowrap;
  margin-bottom: 100px;
  transform: translateX(1300px);
}

.portfolioList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@keyframes move {
  from {
    transform: rotateY(0) rotateX(30deg);
  }
  to {
    transform: rotateY(-360deg) rotateX(30deg);
  }
}

@media screen and (min-width: 1400px) {
  #animated-logo .elementor-widget-container {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 767px) {
  .logoChar {
    font-size: 63px;
    transform: translate(-50%, -50%) rotateY(calc(var(--charIndex) * 14.3deg))
      translateZ(140px);
  }

  .mainLogo {
    animation: move 14s linear infinite reverse;
  }

  .animatedLine { 
    font-size: 40px;
  }
}
